/* #region globals */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  margin-top: 0rem;
}

section {
  margin-bottom: 1rem;
}

figure,
article {
  margin-left: 0rem;
  margin-right: 0rem;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border-top: 1px;
}

header > h2 {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
textarea {
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

i {
  color: black;
}

li i {
  color: #e3e3e3;
}

/* #endregion */

/* #region header */

#header-main {
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 0;
  position: relative;
}

#header-main img {
  bottom: 0;
  position: absolute;
  max-height: 100px;
  max-width: auto;
}

#header-main div {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  background-color: white;
  padding: 10px;
  width: 30%;
}

#header-main div input {
  border: none;
  height: 1rem;
  width: 50%;
}

#header-main div input:focus {
  outline: none;
}

/* #endregion  */

/* #region nav */

nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-top: 0.5rem;
  margin-top: 0;
  background-color: #e3e3e3;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin-left: 0.5rem;
}

nav a {
  color: inherit;
}

nav ul li:hover {
  color: white;
  cursor: pointer;
}

nav > a {
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

/* #endregion  */

/* #region hero  */

#hero {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  display: block;
}

/* #endregion  */

/* #region products  */
#product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25%;
  row-gap: 2rem;
  width: 100%;
  text-align: center;
}

#product-grid figure figcaption button {
  border: none;
  padding: 0.5rem;
  width: 40%;
}

#product-grid figure figcaption button:hover {
  color: #e3e3e3;
  background-color: black;
}

/* #endregion */

/* #region about  */

#about figure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 50%;
  gap: 0.5rem;
  font-size: 12px;
}

#about figure figcaption p:first-of-type {
  font-size: 16px;
  margin-top: 0;
}

/* #endregion  */

/* #region recipes  */

#opskrifter i:hover {
  color: black;
  cursor: pointer;
}

#recipe-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

#recipe-grid li {
  position: relative;
  overflow: hidden;
}

#recipe-grid li figure {
  position: relative;
  height: 100%;
}

#recipe-grid li .recipeImg {
  display: block;
  width: 100%;
  height: auto;
}

#recipe-grid li figure::after {
  content: attr(data-recipe);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 33%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.75rem;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

#recipe-grid li figure:hover::after {
  height: 87%;
}

/* #endregion */

/* #region kontakt  */

#kontakt article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 80%;
  gap: 2rem;
}

#kontakt form {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  width: 100%;
  padding: 2rem;
}

#kontakt form input {
  margin-bottom: 0.125rem;
  border: none;
  padding: 0.4rem;
}

#kontakt form textarea {
  resize: none;
  margin-bottom: 1rem;
}

input[type='submit'] {
  width: auto;
  align-self: flex-end;
  padding: 0.2rem 0.5rem;
  background-color: white;
}

input[type='submit']:hover {
  cursor: pointer;
}

/* #endregion */

/* #region footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  margin: 2rem 7.75rem;
}

#socials {
  margin: 5rem 1rem;
  display: flex;
  gap: 5rem;
}

#socials i {
  color: black;
}

#footer-list {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
}
/* #endregion */

/* #region queries  */

/* #region mobile  */

@media (max-width: 768px) {
  #hero {
    display: none;
  }
  #header-main div {
    display: none;
  }
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  #product-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  #about figure {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
  }
  #recipe-grid {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  #recipe-grid li figure:hover::after {
    height: 100%;
  }
  #leftBtn,
  #rightBtn {
    transform: rotate(90deg);
  }
  #kontakt article {
    display: grid;
    grid-template-columns: 1fr;
  }

  #socials {
    gap: 1rem;
  }

  #footer-list {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

/* #endregion */

/* #region Tablet */

@media (min-width: 769px) and (max-width: 1320px) {
  nav {
    justify-content: flex-end;
  }
  #product-grid {
    grid-template-columns: 1fr 1fr;
  }
  #about figure {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  #recipe-grid li figure:hover::after {
    height: 100%;
  }
  #kontakt article {
    width: 100%;
  }
}

/* #endregion  */

/* #endregion */
